<head>
    <link href="<%= url('/base.css') %>" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- Main Manu -->

<nav>
<h1>Menu</h1>
<ul>
    <li><a href="#">Home</a></li>
    <li><a href="/ui/switches/create">Create new Switch</a></li>
    <li><a href="/ui/profiles/create">Create new Profile</a></li>
    <li><a href="/ui/vlans/create">Create new VLAN</a></li>
</ul>
</nav>
<!-- Main content -->
<section class="table-wrapper">
    <div class="row">
    <div class="col-xs-12">
        <div class="box">
        <div class="box-header">
            <h2 class="box-title">Manage Switches</h2>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="fl-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>IPv4</th>
                <th>Location</th>
                <th>Model</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <% for  @switch in @switchList %>
                    <tr>
                    <td><a class="LinkButton" href=<%= "switches/#{@switch[:id]}" %> ><%= @switch[:name] %> </a> </td>
                    <td><%= @switch[:ipv4] %></td>
                    <td><%= @switch[:location] %></td>
                    <td><%= @switch[:modelName] %></td>
                    <td>
                        <form method="get" action="/ui/switches/delete/<%= @switch[:id] %>">
                            <button type="submit" name="delete">Delete</button>
                        </form>
                    </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->


    <div class="row">
    <div class="col-xs-12">
        <div class="box">
        <div class="box-header">
            <h2 class="box-title">Manage Profiles</h2>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="fl-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>VLAN</th>
                <th>Tagged VLANS</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <% for @profile in @profileList %>
                    <% next if [1, 2].include?(@profile[:id])%>
                    <tr>
                    <td><a class="LinkButton" href=<%= "profiles/#{@profile[:id]}" %> ><%= @profile[:name] %> </a> </td>
                    <td><%= @profile[:vlan] %></td>
                    <td><%= @profile[:taggedVlans] %></td>
                    <td>
                        <form method="get" action="/ui/profiles/delete/<%= @profile[:id] %>">
                            <label for="delete_button">
                            <button type="submit" name="delete">Delete</button></label>
                        </form>
                    </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->




    <div class="row">
    <div class="col-xs-12">
        <div class="box">
        <div class="box-header">
            <h2 class="box-title">Manage VLANs</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="fl-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>VLAN ID</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                <% for @vlan in @vlanList %>
                    <tr>
                    <td><a class="LinkButton" href=<%= "vlans/#{@vlan[:id]}" %> ><%= @vlan[:name] %> </a> </td>
                    <td><%= @vlan[:vlanid] %></td>
                    <td>
                        <form method="get" action="/ui/vlans/delete/<%= @vlan[:id] %>">
                            <label for="delete_button">
                            <button type="submit" name="delete">Delete</button></label>
                        </form>
                    </td>
                    </tr>
                <% end %>
            </table>
        </div>
        <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->


</section>
<body>